<%if @final_episode.nil? == false%> 
 <div class="card">
  <div class="card-content">
        <h3 class="title is-3">Serie: <%= @final_episode["series"].to_s%></h3>
        <h3 class="title is-3">Título Episodio: <%= @final_episode["title"]%></h3>
        <h3 class="title is-3">Número de episodio: <%= @final_episode["episode"]%></h3>
        <h3 class="title is-3">Temporada: <%= @final_episode["season"]%></h3>
        <h3 class="title is-3">Fecha de emisión: <%= DateTime.parse(@final_episode["air_date"]).to_date.to_s%></h3>
    <div class="content">
    <h3 class='title is-3'>Personajes:</h3>
        <div class="container">
            <% @final_episode["characters"].each do |personaje| %>
            <div class="field is-grouped">
              <li><%= link_to "#{personaje}", "/character?character_name=#{personaje}", class: 'subtitle is-5'%></li>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
<% else %>
<div class="box">
  <h3 class="title is-3">Episodio no válido, por favor busque de nuevo</h3>
</div>
<%end%>
